* {
  box-sizing: border-box;
}

:host {
  
  width: 600px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.testimonial-container {
  height: 300px;
  width: 600px;
  max-width: 600px;
  font-size: 24pt;
}

.greenline {
    height: 2px;
    width: 600px;
    background-color: #34FFC8;
}

.testimonial-main {
  padding-left: 28px;
}

.text-container {
  padding: 20px 36px 70px 70px;
  line-height: 1.7;
  width: 600px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}

.customer-container {
  margin-top: 26px;
  padding-right: 26px;
  width: 600px;
  font-size: 16pt;
  justify-items: right;
  text-align: right;
  flex-wrap: nowrap;
}

.signs {
  background-image: url("/src/icons/signs-icon.png") ;
  background-repeat: no-repeat;
  background-size: 100%;

  height: 58px;
  width: 56px;
  z-index: 0;
  position: relative;
  top: 50px;
}