:host {
  display: block;
}

.contact {
  width: 450px;
  height: 500px;
  background-color: #353535;
  margin-left: 50px;
}
h1 {
  font-family: 'Lato';
  font-weight: lighter;
  color: #34ffc8;
  font-size: 33px;
  margin-left: 60px;
}
h2 {
  font-family: 'Lato';
  font-weight: lighter;
  color: #fff;
  font-size: 16px;
  margin-left: 90px;
  margin-top: 30px;
}
.inputs {
  font-family: 'Lato';
  font-weight: lighter;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
}
.name {
  float: left;
  height: 50px;
  margin-left: 60px;
  width: 158px;
  background-color: #2f2f2f;
  border: 2px solid;
  border-color: #2f2f2f;
  border-radius: 10px;
}
.email {
  float: right;
  height: 50px;
  margin-right: 60px;
  width: 158px;
  background-color: #2f2f2f;
  border: 2px solid;
  border-color: #2f2f2f;
  border-radius: 10px;
}
.message {
  height: 100px;
  width: 330px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 14px;
  background-color: #2f2f2f;
  border: 10px solid;
  border-color: #2f2f2f;
  border-radius: 10px;
}
button {
  margin-left: 60px;
  margin-top: 20px;
  background-color: #34ffc8;
  width: 330px;
  height: 50px;
  box-shadow: 0px 8px 16px #34ffc81a;
  white-space: nowrap;
  border: 10px solid;
  border-color: #34ffc8;
  border-radius: 21px;
  font-size: 16px;
  font-weight: light;
  text-align: center;
}
.locationicon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 60px;
}
.phoneicon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 60px;
}
.mobileicon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: 60px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
