:host {
  display: block;
}

.section-title{
  color: #fff;
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l);
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: #575756;
}

button {
  width: 150px;
  position: relative;
  border: 15px solid;
  border-radius: 21px;
  border-color: #34FFC8;
  background-color: #34FFC8;
  box-shadow: 0px 0px 10px #34FFC8;
  margin-left: 100px;
  min-height: 24px;
  font-family: var(--font-family-lato);
}

button:hover {
  background-color: #6e6e6c;
  border-color: #6e6e6c;
  box-shadow: 0px 0px 8px #6e6e6c;
  color: #34FFC8;
}
