@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:host {
  display: block;
}
.container{
  background-color: #34FFC8;
}

img{
  float: left;
  margin-left: 210px;
  margin-top: 75px;
  margin-bottom: 50px;
}

h1 {
  font-family: 'Lato', Helvetica;
  font-size: 28pt;
  font-weight: 500;
  line-height: 25px;
  margin-top: 60px;
}
h2 {
  font-family: 'Lato', Helvetica;
  font-size: 12pt;
  font-weight: 100;
  line-height: 25px;
}

.gridelement{
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.gridelement2{
  width: 49%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

* {
  box-sizing: border-box;
}
