@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:host {
  display: block;
}
.container{
  background-color: #34FFC8;
}

img{
  float: left;
  margin-left: 210px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.text {
  position: relative;
  float: right;
  color: #fff;
  font-size: 38px;

}
h1 {
  font-family: 'Lato', Helvetica;
  font-size: 28pt;
  font-weight: 500;
  line-height: 25px;
  margin-top: 60px;
}
h2 {
  font-family: 'Lato', Helvetica;
  font-size: 12pt;
  font-weight: 100;
  line-height: 25px;
}

.gridelement{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #34FFC8;
}
.gridelement2{
  width: 49%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.button {
  font-family: 'Lato', Helvetica;
  font-size: 10pt;
  background-color: #353535;
  border-radius: 1000px;
  box-shadow: 0px 8px 16px #34ffc81a;
  height: 48px;
  width: 200px;
  padding: 14.5px 67px;
  color: #fff;
  margin-bottom: 50px;
  margin-top: 20px;
}
.button:hover {
  background-color: #34FFC8;
  border-color: #353535;
  color: #353535;
  border-width: 1px;
  border-style: solid;
}

* {
  box-sizing: border-box;
}
