@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:host {
  display: block;
  min-height: fit-content;
  box-sizing: border-box;
}

.employee-container {
  width: 100%;
  height: fit-content;
  padding: 90px 0px 90px 0px;
  background-color: rgb(56, 56, 56);
  color: #EEEEEE;
  font-size: 28pt;
  font-family: 'Lato', Helvetica;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}


.greyline {
  height: 2px;
  width: 80px;
  background-color: #212121;
  margin-top: 25px;
  margin-bottom: 80px;
}

.component-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

slot {
  margin: 0px;
}

.slot-container {
  justify-self: center;
  margin-bottom: 100px;
}

