@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:host {
  display: block;
}

.teasercontainer {
  height: fit-content;
  width: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.teasertext {
  padding: 20px;
  font-family: 'Lato';
  font-size: 16px;
  color: grey;
}

designary-button {
  padding: 20px;
}


